---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px)
      30vw, 95vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}

	<!-- Social -->
         {% if page.social %}
           <div class="social">
             <div class="contact-icons">{% include social.liquid %}</div>
             <div class="contact-note">{{ site.contact_note }}</div>
           </div>
         {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if page.news and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">news</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2 id="selected_publications">
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Main papers -->
    {% if page.main_papers %}
      <h2 id="publications"> Publications </h2>
      <div class="publications">
	{% bibliography %}
      </div>
      <br/><br/>
    {% endif %}


    <!-- Service -->
    {% if page.service %}
      <br/><hr><hr>
      <h2 id="service"> Service </h2>
      {% capture service_md %} {% include service.md %} {% endcapture %}
      {{ service_md | markdownify }}
    {% endif %}

    <!-- Talks -->
    {% if page.talks %}
      <br/><hr>
      <h2 id="service"> Talks </h2>
      {% capture talks_md %} {% include talks.md %} {% endcapture %}
      {{ talks_md | markdownify }}
    {% endif %}


    <!-- Extra and old projects -->
    {% if page.extra_papers %}
      <br/><hr>
      <h2 id="other_works"> Other Research Projects </h2>

      This section lists some unpublished works.
      <br/>
      It contains technical reports, relatively recent internship
      reports, but also (for fun!) older student projects.

      <div class="publications">
	{% bibliography  --group_by none --file extra_works %}
      </div>
    {% endif %}

    {% if page.extra_papers_link %}
      <br/><hr>
      <h2 id="other_works"> Other Research Projects </h2>

      C.f. <a href="{{ '/other_works/' | relative_url }}" style="color: link">the dedicated page</a> for technical reports, theses, and some older unpublished works.<br/>

      Slides of my <a href="{{ '/talks/' | relative_url }}" style="color: link">talks</a> also contain overviews and introductions to my research topics and their applications.
    {% endif %}

    <!-- Teaching -->
    {% if page.teaching %}
      <hr>
      <h2 id="teaching"> Teaching </h2>

      [...]
    {% endif %}

    <!-- Outreach -->
    {% if page.outreach %}
      <hr>
      <h2 id="outreach"> Outreach </h2>

      [...]
    {% endif %}

  </article>
</div>
